.quiz_container {
    margin: 2rem auto;
    max-width: 90%;
    text-align: center;
  }
  
  .question-container {
    width: 85%;
    margin: 1rem auto;
    padding: 1rem;
  }
  
  .question-container p {
    margin: 1rem;
  }