:root {
    --dark-purple: #2287ce;
    --light-purple: #2287ce54;
}

h1{
    margin-top: 25px;
}

.is_Triangle_container {
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
}

input,
label {
    display: block;
    padding: 1rem;
}

input {
    width: 50%;
    margin: auto;
    font-size: large;
    padding: 0.5rem;
    border: 2px solid var(--dark-purple);
    border-radius: 0.5rem;
    background-color: var(--light-purple);

}

label {
    font-size: large;
    font-weight: bold;
    color: var(--dark-purple);
}

#error {
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-bottom: 2rem;
}